@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.element::-webkit-scrollbar { width: 0}

.scrollport {
  /*-webkit-mask-image: linear-gradient(to right, #0000, #000, #000, #0000);*/
  margin-left: 15%;
  margin-right:15%;
  /*padding-left: 10px;*/
  overflow-x: auto;
  overscroll-behavior-x: contain;
  
  display: flex;
  gap: var(--size-10);
  align-items: start;
  padding: var(--size-10);
}

.scrollport > div {
 block-size: var(--size-15);
  aspect-ratio: var(--ratio-square);
  border-radius: 20px;
  /*box-shadow: var(--shadow-4);*/
  color:black;
  border-width: 1px;
  padding: 1%;
}
body {
  background-color: #FFF7EA;
  display: grid;
  overflow-x: hidden;
  place-content: center;
} 

.titulo {
position: flex;
font-size: 30px;
}

.capa {
size: 400px;
}
#logo {
  max-width: 200px;
  position: absolute;
  left: 40px;
  top: 40px;
}

#slogan {
  font-size: 30px;
  color: black;
  position: absolute;
  right: 40px;
  bottom: 40px;
}